nelmio_api_doc:
    documentation:
        info:
            title: Search Engine Service API
            description: Content search service
            version: 1.0.0
    areas:
        default:
            path_patterns:
                - ^/api(?!/docs)

