services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\Provider\Manager\ProviderManager:
        arguments:
            $providers: !tagged_iterator app.content_provider
            $logger: '@monolog.logger.provider'

    App\Service\Provider\Implementation\Provider1Json:
        tags: ['app.content_provider']

    App\Service\Provider\Implementation\Provider2Xml:
        tags: ['app.content_provider']

    # NOT: Yeni provider eklemek için:
    # 1. App\Service\Provider\Base\BaseProvider'ı extend eden yeni bir sınıf oluştur
    # 2. Implementation klasörüne yerleştir
    # 3. Bu dosyaya service definition ekle ve 'app.content_provider' tag'i ile etiketle
