services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\Elasticsearch\ElasticsearchService:
        arguments:
            $elasticsearchHost: '%env(ELASTICSEARCH_HOST)%'
            $elasticsearchPort: '%env(int:ELASTICSEARCH_PORT)%'
            $indexName: 'search_engine_content'
            $logger: '@logger'

    App\Service\Provider\Manager\ProviderManager:
        arguments:
            $providers: !tagged_iterator app.content_provider
            $logger: '@monolog.logger.provider'

    App\Command\ImportContentCommand:
        arguments:
            $logger: '@monolog.logger.provider'

    App\Service\Provider\Implementation\Provider1Json:
        tags: ['app.content_provider']
        calls:
            - setRateLimiter: ['@limiter.provider_1_json']

    App\Service\Provider\Implementation\Provider2Xml:
        tags: ['app.content_provider']
        calls:
            - setRateLimiter: ['@limiter.provider_2_xml']

    # NOT: Yeni provider eklemek için:
    # 1. App\Service\Provider\Base\BaseProvider'ı extend eden yeni bir sınıf oluştur
    # 2. Implementation klasörüne yerleştir
    # 3. Bu dosyaya service definition ekle ve 'app.content_provider' tag'i ile etiketle
    # 4. setRateLimiter call'u ekle
